



<script>
    setTimeout(function(){ location.reload(); }, 20000);
</script>

<script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>




<script type="text/javascript">
  handler = Gmaps.build('Google');
  var mapOptions = { mapTypeId: google.maps.MapTypeId.SATELLITE };
  handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
    markers =  handler.addMarkers(<%=raw @hash.to_json %>);

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

  });
</script>

<table style="width:100%">
  <tbody>
    <tr>
      <td>Sensor Mac Address</td>
      <td>Controller Mac Address </td>
      <td>Temperature (C)</td>
      <td>Latitude</td>
      <td>Longitude</td>
      <td>Time Logged</td>

    </tr>
    <% @reports.each do |report| %>
    <tr>
      <td><%= report.sensor_mac %></td>
      <td><%= report.controller_mac %></td>
      <td><%= report.temp %></td>
      <td><%= report.lat %></td>
      <td><%= report.long %></td>
      <td><%= report.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
